/* Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000, #f5f5f5);
    color: white;
}

/* Header */
header {
    text-align: center;
    padding: 15px;
    background: #000;
}

/* Hero */
.hero {
    text-align: center;
    padding: 50px 20px;
    animation: fadeIn 1.5s ease;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid white;
    animation: zoomIn 1.5s ease;
}

/* Social Icons */
.social-icons a {
    color: white;
    margin: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ccc;
}

/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

/* Cards */
.card {
    background: white;
    color: black;
    width: 260px;
    margin: 15px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.4s;
    animation: slideUp 1s ease;
}

/* Icons */
.card i {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333;
}

/* Hover */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #000;
    color: white;
}

/* Animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}